
<div>
    <table class="table table-hover" id="el">
        <tr><th colspan="5">View Candidates by party</th></tr>
        <tr>
            <th>Party ID</th>
            <th>Name</th>
            <th>Leader</th>
            <th>Symbol</th>
            <th>Candidiate</th>
            
        </tr>
        <tr *ngFor="let p of party" >
            <td >{{p.PartyId}}</td>
            <td>{{p.Name}}</td>
            <td>{{p.Leader}}</td>
            <td>{{p.Symbol}}</td>
            <td>
            <button class="btn btn-primary" (click)="viewCandidates(p.PartyId)">View</button>
            </td>
        </tr>
</table>
</div> 
<table id="can" cellpadding="7" class="table table-hover">
    <tr>
        <th>Candidiate ID</th>
        <th>Name</th>
        <th>Party ID</th>
        <th>District</th>
        <th>Constituency</th>
        <th>Date Of Birth</th>
        <th>Mobile No</th>
    </tr>
    <tr *ngFor="let e of all_candidates" >
        
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.CandidateId}}</td>
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.Name}}</td>
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.Partyid}}</td>
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.District}}</td>
        
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.Constituency}}</td>
        
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.Dateofbirth}}</td>
        <td *ngIf="PartyId==e.Partyid; else elseBlock">{{e.MobileNo}}</td>
        
        
    </tr>
    
</table>