div#ad004{
    /*background-color:rgba(235, 245, 251,.7);*/
    background-color:rgba(241, 241, 242,0.8);
    color: #1995AD;
    font-weight: bold;
    /* height: 450px; */
    width:450px;
    padding: 40px;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    box-shadow:5px 5px #bcbabe;
    
}
input[type="text"]{
    color:#1995AD;
    font-size: 15px;
    font-weight: bold
}
